{% extends "base.html" %} 

{% block content %} 
{% load static %}

<div class="ml-64 p-5">
    <!-- <div class="flex flex-row m-auto justify-center content-center"> -->
    <div class="flex flex-row p-6">
        <div>
           <img class="w-32" src="{% static 'likedSong.webp' %}">
        </div>
        <div class="flex flex-col pl-6 pt-2">
            <h1 class="text-6xl">
                Playlist Followed
            </h1>
            <h6>
                {{user.username}}
            </h6>
        </div>

    </div>
   
    <div class="mt-0 p-0 overflow-y-auto whitespace-nowrap grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 h-96">
        {% for playlist in playlists %}
        <div class="artist-card bg-gray-800 rounded-lg shadow-md text-center p-5">
           <!-- <iframe src="https://open.spotify.com/embed/track/{{t.track_id}}" 
                class="h-full w-full" frameborder="0" allowtransparency="true"
                ="encrypted-media">
            </iframe> -->
            <img src="{{playlist.image}}" alt="Card Image" class="w-24 h-24 rounded-full mx-auto mb-2 object-cover">
          <p class="text-gray-300">{{playlist.name}}</p>
        </div>
        {% endfor %}
      </div>
    
  
</div>
{% endblock %}